<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657993324851-g55fc104c5ifh714927v7foiisrt2g86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657993324851-g55fc104c5ifh714927v7foiisrt2g86</string>
	<key>API_KEY</key>
	<string>AIzaSyAeuOjXJPPMNudxfxfUjIS6NuLhbccMzwU</string>
	<key>GCM_SENDER_ID</key>
	<string>657993324851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ST-Chiou.TrainingRecord</string>
	<key>PROJECT_ID</key>
	<string>trainingrecord-ad7d7</string>
	<key>STORAGE_BUCKET</key>
	<string>trainingrecord-ad7d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657993324851:ios:5a56fcbc9b3ec0b2880646</string>
</dict>
</plist>